/* wekek */
:root {
    --primary: #F2613F;
    --bg: #481E14;
    --third: #9B3922;
    --nav: #0C0C0C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

/* Header Start */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: var(--nav);
    width: 100%;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}

.nav1, .nav2 {
    display: flex;
}

.nav1 ul, .nav2 ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
}

.nav1 li, .nav2 li{
    float: left;
}

.nav1 li a, .nav2 li a{
    display: block;
    color: var(--primary);
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

.nav1 li a:hover, .nav2 li a:hover{
    color: var(--third);
}

.nav1 li a::after, .nav2 li a::after{
    content: '';
    display: block;
    padding-bottom: 1.9px;
    border-bottom: 1px solid var(--third);
    transform: scaleX(0);
    transition: 0.5s;
}

.nav1 li a:hover::after, .nav2 li a:hover::after{
    transform: scaleX(0.5);
}

h1 {
    font-size: 25px;
    color: var(--primary);
    text-align: center;
}

.nav-extra {
    display: none;
    color: var(--primary);
}

/* Header End */

/* Section Start */

/* Section End */

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    
    nav {
        flex-direction: column;
    }

    .nav1, .nav2 {
        display: none;
    }

    .nav-extra{
        display: block;
        align-items: flex-end;
        color: var(--primary);
    }

    .nav1.active, .nav2.active {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav1 li, .nav2 li {
        margin: 10px 0;
    }

    .nav-extra {
        display: block;
        cursor: pointer;
    }

    /* .nav-extra {
        padding: 0px 5px 0px 200px;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .nav1, .nav2{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--nav);
        width: 30rem;
        height: 100vh;
    }

    .nav1.active, .nav2 {
        right: 0;
    } */
}

/* Mobile Phone */
@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    .nav-extra {
        padding: 0px 5px 0px 200px;
    }

    #hamburger-menu {
        display: inline-block;
    }
}