/* CSS Wajib */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

/* Header Start */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 20px;
    background-color: #9A3B3B;
}

/* .logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    filter: invert(100%) brightness(100%);
} */

h1 {
    font-size: 25px;
    color: black;
}

.nav {
    display: flex;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 0.5px solid #9B4922;
    background-color: #4F2F2F; */
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #F2ECBE;
}

/* Header End */

/* Section Start */

.background-section {
    position: relative;
    background-image: url('../image/01.jpg');
    background-size: cover;
    background-position: center;
    padding: 800px 0px 0px 0px;
}

/* Section End */