/* wekek */
:root {
    --primary: #F2613F;
    --bg: #481E14;
    --third: #9B3922;
    --nav: rgb(12, 12, 12);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    min-height: 2000px;
    color: #fff;
    background-color: var(--nav);
    overflow-x: hidden;
}

/* Header Start */

header {
    background-color: var(--nav);
    padding: 10px 0;
    text-align: center;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav-left, .nav-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left li, .nav-right li {
    margin: 0 10px;
}

.nav-left a, .nav-right a {
    color: var(--primary);
    text-decoration: none;
    padding: 1 10px;
}

.nav-left a:hover, .nav-right a:hover {
    color: var(--bg);
}

.navbar a::after {
    content: '';
    display: block;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar a:hover::after {
    transform: scaleX(0.5);
}

.title {
    color: var(--primary);
    font-size: 24px;
    margin: 0;
    padding: 0px 20px;
}

.hamburger {
    color: var(--primary);
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--nav);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: var(--primary);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: var(--bg);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* header end */

/* Hero section start */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../image/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(12, 12, 12) 3%, rgba(225,225,225, 0) 25%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;

}

.hero .content h1 {
    font-size: 4.3em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1;
}

.hero .content h1 span {
    color: var(--primary);
}
/* Hero section end */

/* About Start */
.about {
    padding: 3rem 7% 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .title-about {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about .title-about span {
    color: var(--primary);
}

.about .about-container {
    padding: 1rem ;
    display: flex;
    justify-content: space-between;
}

.about .about-container .apa-img {
    padding: 1rem;
}

.about .about-container .apa-img img {
    width: 30rem;
}

.about .about-container .apa-text h2 {
    padding: 1rem;
    font-size: 3rem;
}

.about .about-container .apa-text {
    padding: 6rem 0 0 2rem;
}

.about .about-container .apa-text h2 span {
    color: var(--primary);
}

.about .about-container .apa-text p {
    padding: 1rem 0 0 1rem;
    font-size: 1.6rem;
    line-height: 1.4;
}

.nilai .nilai-container {
    padding: 5rem 0 0 0;
    display: flex;
    justify-content: space-between;
}

.nilai .nilai-container .nilai-img {
    padding: 0;
}

.nilai .nilai-container .nilai-img img {
    width: 40rem;
    height: 35rem;

}

.nilai .nilai-container .nilai-text {
    padding: 8rem 0 0 5rem;
}

.nilai .nilai-container .nilai-text h2 {
    padding: 0;
    font-size: 3rem;
}

.nilai .nilai-container .nilai-text h2 span {
    color: var(--primary);
}

.nilai .nilai-container .nilai-text p {
    padding: 1rem 0 0 0;
    font-size: 1.6rem;
    line-height: 1.4;
}   
/* About End */

/* Maps Start */
.maps {
    padding: 7rem 7% 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.maps .maps-container {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
}

.maps .maps-container #googleMap {
    width: 90rem;
    height: 40rem;
}

.maps h2 {
    text-align: center;
    font-size: 2.6rem;
}

.maps h2 span {
    color: var(--primary);
}
/* Maps End */

/* Gallery Start */
.gallery {
    padding: 5rem 7% 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gallery .gallery-container {
    padding: 2rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .gallery-container img {
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    object-fit: cover;
}

.gallery .gallery-container img:hover {
    transform: scale(0.95);
    transition: 0.5s;
}

.gallery h2 {
    text-align: center;
    font-size: 2.6rem;
}

.gallery h2 span {
    color: var(--primary);
}

/* Gallery End */

/* Contact Start */
.contact {
    padding: 7rem 7% 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact h2 {
    text-align: center;
    font-size: 2.6rem;
}

.contact h2 span {
    color: var(--primary);
}

.contact .contact-container {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
}

.contact .contact-container form {
    width: 50rem;
}

.contact .contact-container .form-group {
    margin-bottom: 0;
}

.contact .contact-container .form-group label {
    display: block;
    font-size: 1.6rem;
    color: var(--primary);
}

.contact .contact-container .form-group input, .contact .contact-container .form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.contact .contact-container .form-group input:focus, .contact .contact-container .form-group textarea:focus {
    border-color: var(--bg);
    outline: none;
}

.contact .contact-container button {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--bg);
    font-size: 1.6rem;
    cursor: pointer;
}

.contact .contact-container button:hover {
    background-color: var(--bg);
    color: var(--primary);
}
/* Contact End */

/* Extra Start */
.extra {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.extra .tet {
    position: absolute;
    width: 30rem;
    height: 30rem;
    top: 60rem;
    left: 80rem;
    background-color: var(--third);
    opacity: 0.5;
    border-radius: 15rem;
    z-index: -1;
}

.extra .teet {
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 80rem;
    left: 30rem;
    background-color: var(--third);
    opacity: 0.5;
    border-radius: 10rem;
    z-index: -1;
}

.extra .teeet {
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 70rem;
    left: 55rem;
    background-color: var(--third);
    opacity: 0.5;
    border-radius: 8rem;
    z-index: -1;
}

.extra .teeeet {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 70rem;
    left: 65rem;
    background-color: var(--third);
    opacity: 0.5;
    border-radius: 6rem;
    z-index: -1;
}

.extra .teeeeet {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 70rem;
    left: 75rem;
    background-color: var(--third);
    opacity: 0.5;
    border-radius: 4rem;
    z-index: -1;
}

/* Extra End */

/* Footer Start */
footer {
    padding: 3rem 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-container {
    display: flex;
    background-color: var(--bg);
    justify-content: space-between;
}

.footer-container .footer-left {
    padding: 1rem;
}

.footer-container .footer-left img {
    width: 8rem;
}

.footer-container .footer-center {
    padding: 8rem 0 0 0;
}

.footer-container .footer-center p {
    font-size: 1rem;
    color: var(--primary);
    align-items: center;
}

.footer-container .footer-right {
    padding: 1rem;
}

.footer-container .footer-right h2 {
    font-size: 2.6rem;
    color: var(--primary);
}

.footer-container .footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-container .footer-right ul li {
    display: inline-block;
    margin-right: 1rem;
}

.footer-container .footer-right ul li a {
    color: var(--primary);
}

.footer-container .footer-right ul li a:hover {
    color: var(--bg);
}
/* Footer End */

/* Media Quaries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
        overflow-x: hidden;
    }
}

    .about .about-container .apa-img img {
        width: 25rem;
    }
    
    .about .about-container .apa-text h2 {
        padding: 1rem;
        font-size: 3rem;
    }
    
    .about .about-container .apa-text {
        padding: 4rem 0 0 2rem;
    }
    
    .about .about-container .apa-text h2 span {
        color: var(--primary);
    }
    
    .about .about-container .apa-text p {
        padding: 1rem 0 0 1rem;
        font-size: 1.6rem;
        line-height: 1.4;
    }

    .nilai .nilai-container .nilai-img img {
        width: 30rem;
        height: 25rem;
    
    }
    
    .nilai .nilai-container .nilai-text {
        padding: 1rem 1rem 0 4rem;
    }
    
    .nilai .nilai-container .nilai-text h2 {
        padding: 0;
        font-size: 2rem;
    }
    
    .nilai .nilai-container .nilai-text h2 span {
        color: var(--primary);
    }
    
    .nilai .nilai-container .nilai-text p {
        padding: 0rem 0 0 0;
        font-size: 1.6rem;
        line-height: 1.4;
    }
    
    .extra .nilai-bg {
        position: absolute;
        width: 100%;
        height: 24.9rem;
        top: 106.9rem;
        left: 0;
        background-color: var(--third);
        opacity: 0.5;
        z-index: -1;
    }

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 55%;
        overflow-x: hidden;
    }
    .navbar {
        flex-direction: column;
    }
    .nav-left, .nav-right {
        display: none;
    }
    .title {
        margin: 10px 0;
    }
    .hamburger {
        display: block;
    }

    .about .about-container .apa-img img {
        width: 25rem;
    }
    
    .about .about-container .apa-text h2 {
        padding: 1rem;
        font-size: 2.5rem;
        line-height: 1;
    }
    
    .about .about-container .apa-text {
        padding: 2rem 0 0 1rem;
    }
    
    .about .about-container .apa-text h2 span {
        color: var(--primary);
    }
    
    .about .about-container .apa-text p {
        padding: 1rem 0 0 1rem;
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .extra {
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .extra .tet {
        position: absolute;
        width: 30rem;
        height: 30rem;
        top: 90rem;
        left: 60rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 15rem;
        z-index: -1;
    }
    
    .extra .teet {
        position: absolute;
        width: 20rem;
        height: 20rem;
        top: 90rem;
        left: 30rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 10rem;
        z-index: -1;
    }
    
    .extra .teeet {
        position: absolute;
        width: 15rem;
        height: 15rem;
        top: 85rem;
        left: 55rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 8rem;
        z-index: -1;
    }
    
    .extra .teeeet {
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: 70rem;
        left: 65rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 6rem;
        z-index: -1;
    }
    
    .extra .teeeeet {
        position: absolute;
        width: 5rem;
        height: 5rem;
        top: 70rem;
        left: 75rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 4rem;
        z-index: -1;
    }

    .nilai .nilai-container .nilai-text {
        padding: 1rem 0 0 2rem;
    }

    .nilai .nilai-container .nilai-text h2 {
        padding: 0;
        font-size: 2rem;
    }

    .nilai .nilai-container .nilai-text h2 span {
        color: var(--primary);
    }

    .nilai .nilai-container .nilai-text p {
        padding: 0.5rem 0 0 0;
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .nilai .nilai-container .nilai-text .hidden {
        display: none;
    }

    .extra .nilai-bg {
        position: absolute;
        width: 100%;
        height: 24.9rem;
        top: 130.1rem;
        left: 0;
        background-color: var(--third);
        opacity: 0.5;
        z-index: -1;
    }
}

/* Mobile Phone */
@media (max-width: 485px) {
    html {
        font-size: 40%;
        /* overflow: hidden; */
    }

    .about .about-container .apa-img img {
        width: 25rem;
    }
    
    .about .about-container .apa-text h2 {
        padding: 1rem;
        font-size: 2.5rem;
        line-height: 1;
    }
    
    .about .about-container .apa-text {
        padding: 2rem 0 0 1rem;
    }
    
    .about .about-container .apa-text h2 span {
        color: var(--primary);
    }
    
    .about .about-container .apa-text p {
        padding: 1rem 0 0 1rem;
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .extra {
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .extra .tet {
        position: absolute;
        width: 30rem;
        height: 30rem;
        top: 111rem;
        left: 50rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 15rem;
        z-index: -1;
    }
    
    .extra .teet {
        position: absolute;
        width: 20rem;
        height: 20rem;
        top: 115rem;
        left: 4rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 10rem;
        z-index: -1;
    }
    
    .extra .teeet {
        position: absolute;
        width: 15rem;
        height: 15rem;
        top: 140rem;
        left: 20rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 8rem;
        z-index: -1;
    }
    
    .extra .teeeet {
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: 70rem;
        left: 65rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 6rem;
        z-index: -1;
    }
    
    .extra .teeeeet {
        position: absolute;
        width: 5rem;
        height: 5rem;
        top: 70rem;
        left: 75rem;
        background-color: var(--third);
        opacity: 0.5;
        border-radius: 4rem;
        z-index: -1;
    }

    .nilai .nilai-container .nilai-text {
        padding: 1rem 0 0 2rem;
    }

    .nilai .nilai-container .nilai-text h2 {
        padding: 0;
        font-size: 2rem;
    }

    .nilai .nilai-container .nilai-text h2 span {
        color: var(--primary);
    }

    .nilai .nilai-container .nilai-text p {
        padding: 0.5rem 0 0 0;
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .nilai .nilai-container .nilai-text .hidden {
        display: none;
    }

    .extra .nilai-bg {
        position: absolute;
        width: 100%;
        height: 24.9rem;
        top: 160.3rem;
        left: 0;
        background-color: var(--third);
        opacity: 0.5;
        z-index: -1;
    }

    .gallery .gallery-container img {
        width: 25rem;
        height: 25rem;
        padding: 1rem;
        object-fit: cover;
    }
}